/*--------------------------NAVBAR--------------------------*/
.navbar {
    width: 100%;
    height: 50px;
    position: fixed;
    background: ghostwhite;
}

.logo_container {
    overflow: hidden;
    width: 25%;
    height: 50px;
    float: left;
    /*border: 1px double black;*/
}

.into_logo_container {
    font-size: 20px;
    padding-top: 10px;
    float: left;
}

.logo {
    padding-left: 10px;
    float: left;
}

.text_logo {
    padding-left: 5px;
    float: left;
}

.banner_container {
    width: 50%;
    height: 50px;
    float: left;
    overflow: hidden;
}

.banner_phrases {
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
}

.nav_container {
    width: 25%;
    height: 50px;
    float: right;
}

.into_nav_container {
    height: 30px;
    font-size: 20px;
    padding-top: 10px;
    padding-right: 10px;
    float: right;
    overflow: hidden;
}

/*--------------------------CONTENT--------------------------*/
/*--------------------------INDEX_PAGE--------------------------*/

.like_button_area {
    width: 100%;
    height: 50px;
    margin-top: 50px;
    /*border: 1px double black;*/
}

.into_like_button_area {
    float: right;
}

.like_button {
    width: 110px;
    height: 30px;
    margin: 10px;
    font-size: 15px;
    float: left;
    border: 3px solid #acacac;
    cursor: pointer
}

.like_text {
    width: 69px;
    padding-top: 4px;
    padding-left: 6px;
    float: left;
}

.like_logo {
    padding: 0;
    width: 30px;
    height: 30px;
    float: right;
}

.counter_likes {
    width: 10px;
    height: 30px;
    margin: 10px 10px 10px 0;
    font-size: 15px;
    float: right;
    padding-top: 8px;
}

/*--------------------------INDEX_SIGN_UP_IN_PAGE--------------------------*/

.index_input_content {
    padding-top: 50px;
    height: 100%;
    width: 100%;
    overflow: auto;
    /*border: 1px double black;*/
}

.parent_pages {
    width: 100%;
    height: 890px;
    /*border: 1px double black;*/
}

/*--------------------------PAGE_1_2_3--------------------------*/

.nav_block {
    width: 20%;
    height: 500px;
    margin-top: 20px;
    position: fixed;
    /*border: 1px double black;*/
}

.pages {
    width: 100%;
    height: 35px;
    overflow: hidden;
    /*border: 1px double black;*/
}

pages_other {
    idth: 100%;
    height: 45px;
    overflow: hidden;
    /*border: 1px double black;*/
}

.page_not_active {
    padding-top: 10px;
    /*padding-left: 5px;*/
    text-align: center;
    float: top;
    /*border: 1px double black;*/
}

.page_active {
    padding-top: 10px;
    /*padding-left: 5px;*/
    float: top;
    text-align: center;
    background: #ffffff;
    /*border: 1px double black;*/
}

/*--------------------------PAGE_1--------------------------*/

.page_1_content {
    padding-top: 50px;
    height: 160%;
    width: 100%;
    overflow: auto;
    /*border: 1px double black;*/
}



/*--------------------------PAGE_2--------------------------*/

.page_2_content {
    padding-top: 50px;
    height: 130%;
    width: 100%;
    overflow: auto;
    /*border: 1px double black;*/
}

/*--------------------------PAGE_3--------------------------*/

.page_3_content {
    padding-top: 50px;
    height: 140%;
    width: 100%;
    overflow: auto;
    /*border: 1px double black;*/
}

/*--------------------------PAGE_4--------------------------*/

.page_4_content {
    padding-top: 50px;
    height: 220%;
    width: 100%;
    overflow: auto;
    /*border: 1px double black;*/
}

/*--------------------------PAGE_5--------------------------*/

.page_5_content {
    padding-top: 50px;
    height: 330%;
    width: 100%;
    overflow: auto;
    /*border: 1px double black;*/
}


/*--------------------------SIGN_UP_IN--------------------------*/

.heading {
    text-align: center;
}

.sign_up_in_block {
    width: 100%;
    height: 500px;
    font-size: 15px;
    /*border: 1px double black;*/
}

.login_container {
    width: 100%;
    height: 35px;
    padding-top: 10px;
    /*border: 1px double black;*/
}

.password_container {
    width: 100%;
    height: 35px;
    padding-top: 10px;
    /*border: 1px double black;*/
}

.buttons_sign_up_in_container {
    width: 100%;
    height: 35px;
    padding-top: 12px;
    /*border: 1px double black;*/
}

.into_password_container {
    width: 255px;
    height: 22px;
    /*border: 1px double black;*/
}

.password_field {
    float: left;
}

.eye {
    width: 22px;
    height: 22px;
    float: right;
    /*border: 1px double black;*/
}

/*--------------------------ABOUT_US--------------------------*/

.about_us {
    padding-top: 50px;
}

/*--------------------------ALL_PAGES--------------------------*/

.left_content {
    padding: 0;
    width: 20%;
    height: 100%;
    overflow: hidden;
    float: left;
    background: #dcdcdc;
}

.right_content {
    padding: 0;
    width: 20%;
    height: 100%;
    overflow: hidden;
    float: left;
    background: #dcdcdc;
}

.main_content {
    padding: 0;
    width: 60%;
    height: 100%;
    float: left;
    background: whitesmoke;
}

.into_main_content {
    text-align: justify;
    padding: 10px 10% 10px 10%;
    /*border: 1px double black;*/
}

/*--------------------------DOWN BAR--------------------------*/
.down_bar {
    width: 100%;
    height: 50px;
    margin-bottom: 0;
    float: bottom;
    background: #f8f8ff;
}

.into_down_bar {
    width: 100%;
    height: 30px;
    padding-top: 13px;
    /*border: 1px double black;*/
}

.copyright {
    width: 33%;
    text-align: left;
    float: left;
}

.pad_l_10px {
    padding-left: 10px;
}

.contacts {
    width: 34%;
    text-align: center;
    float: left;
}

.other {
    width: 33%;
    text-align: right;
    float: left;
}

.pad_r_10px {
    padding-right: 10px;
}

/*--------------------------TAGS--------------------------*/

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,
    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 100;
    /*line-height: 1.5;*/
    color: #212529;
}

a {
    color: #212529;
    text-decoration: none;
}

a.sections:hover {
    text-decoration: underline;
}

a.sign_in {
    text-decoration: underline;
}

a.sign_up {
    text-decoration: none;
}

div.indent {
    text-indent: 50px;
}

hr {
    width: 100%;
    height: 3px;
    border-width:0;
    background: #dcdcdc;
}
