/*------------------------------------------CLASSES------------------------------------------*/
.parent_page {
    width: 100%;
    height: 3840px;
    min-height: 3840px;
    margin: 0;
    padding: 0;
    /*display: table;*/
    /*outline: 1px solid #000;*/
}

.in_parent_page {
    width: 100%;
    height: 25%;
    min-height: 25%;
    display: table;
    /*outline: 1px solid #000;*/
}

.index_input_content {
    height: 100%;
    width: 100%;
    /*border: 1px double black;*/
}

.navbar_contacts {
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
    display: table;
    outline: 1px solid #000;
}

.page_1_main_content {
    width: 100%;
    height: 800px;
    margin: 0;
    padding: 0.1px 0;
    display: table-row;
    /*outline: 1px solid #000;*/
}

.in_page_1_main_content {
    width: 50%;
    min-height: 500px;
    margin: 70px 0 70px 10px;
    /*outline: 1px solid #000;*/
}

.navbar {
    width: 100%;
    height: 50px;
    margin-top: 0;
    padding: 0;
    outline: 1px solid #000;
}

.more {
    font-size: 30px;
    text-decoration: underline;
}

a:link {
    color: #212529;
}

a:visited {
    color: #212529;
}

/*--------------------------------------------TAGS--------------------------------------------*/

hr {
    color: black;
    width: 99%;
    size: 1px;
    margin: 0 0.5% 0 0.5%;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,
    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 100;
    /*line-height: 1.5;*/
    color: #212529;
}