/*------------------------------------------CLASSES------------------------------------------*/
.parent_page {
    width: 100%;
    height: 3840px;
    margin: 0;
    padding: 0;
    /*outline: 1px solid #000;*/
}

.in_parent_page {
    width: 100%;
    height: 960px;
    outline: 1px solid #000;
}

.index_input_content {
    height: 100%;
    width: 100%;
    overflow: auto;
    display: table;
    /*border: 1px double black;*/
}

.left_column {
    padding: 0;
    width: 20%;
    height: 100%;
    overflow: hidden;
    float: left;
    background: #dcdcdc;
}

.right_column {
    padding: 0;
    width: 20%;
    height: 100%;
    overflow: hidden;
    float: left;
    background: #dcdcdc;
}

.navbar_contacts {
    width: 100%;
    height: 80px;
    padding: 0;
    /*outline: 1px solid #000;*/
}

.page_1_main_content {
    width: 100%;
    height: 800px;
    padding: 0;
    /*outline: 1px solid #000;*/
}

.navbar {
    width: 100%;
    height: 50px;
    padding-top: 0;
    outline: 1px solid #000;
}

/*--------------------------------------------TAGS--------------------------------------------*/

hr {
    color: black;
    width: 100%;
    size: 1px;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,
    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 100;
    /*line-height: 1.5;*/
    color: #212529;
}