/*CLASSES*/

.page {
    height: 725px;
    width: 100%;
    /*border: 1px solid;*/
}

.navbar {
    min-height: 5em;
    width: 100%;
    /*background: aquamarine;*/
    overflow: auto;
    /*border: 1px solid;*/
}

.nav-logo-phones {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    min-height: 5em;
    width: 22%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-cell {
    min-height: 5em;
    width: 14%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    /*font-size: 36px;*/
    /* line-height: 44px;*/
     /*при изменение размера верха картинка и текст улетают вниз*/
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid;*/
}

.main-cont {
    min-height: 650px;
    width: 100%;
    /*background: blueviolet;*/
    overflow: auto;
    /*border: 1px solid;*/
}

.ind-cont-text {


    float: left;
    min-height: 650px;
    max-width: 50%;
    /*background: coral;*/
}

.ind-cont-text-up {
    font-family: 'Montserrat', sans-serif;


    min-height: 150px;
    width: 80%;
    float: top;
    margin: 50px 10% 0 10%;
}

.ind-cont-text-btn { /*кнопка*/

    min-height: 4em;
    width: 300px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black
}

.ind-cont-pict {
    float: right;
    min-height: 650px;
    width: 50%;
    padding-bottom: 0;
    /*text-align: center;*/
    position: relative;
    /*background: chartreuse;*/
    /*border: 1px solid black*/
}

.ind-cont-pict img {
    position: absolute;
    bottom: 0
}
.ind-clown-pict{


}

.acomp-cont {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;

    min-height: 650px;
    width: 95%;
    margin-left: 5%;
    /*background: darkorange;*/
    /*border: 1px solid black*/
}

.test {
    max-height: 30px;
    min-width: 50%;
    float: left;
    /*border: 1px solid;*/
}


/*TAGS*/

body {
    /*position: relative;*/
    /*margin: 0;*/

    /*padding: 0;*/
    /*background: linear-gradient(162.36deg, #9AC7F1 7.34%, #476BEB 69.76%);*/
    /*background: #cbe2c1;*/
    background: cornflowerblue;
    background: -webkit-linear-gradient(to right, #9AC7F1, #476BEB);
    background: -moz-linear-gradient(to right, #9AC7F1, #476BEB);
    background: linear-gradient(to right, #9AC7F1, #476BEB);
    padding: 44px 0 22px 0;


}

table {
    /*border: 1px;*/
    /*width: 100%;*/
}

td {
    padding: 5px;
    /*border: 2px solid;*/
}

td:first-child {
    width: 150px;
}

/*TABLES*/

.acomp-table-first tr:first-child td:first-child {
    height: 50px;

}
.acomp-table-first tr:first-child{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
}

.acomp-table-first td:first-child {
    height: 150px;
    text-align: center;
}

.acomp-table-first tr:last-child td:first-child {
    height: 15px;

}
.acomp-table-second tr:first-child{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
}

.acomp-table-second td:first-child{
    text-align: right;
    height: 20px;
}
.acomp-table-third tr:first-child{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;

}

.acomp-table-third td:first-child {
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;

    font-size: 24px;
    line-height: 29px;
    text-align: right;
}
