/*--------------------------NAVBAR--------------------------*/
.navbar {
    width: 100%;
    height: 50px;
    position: fixed;
    background: ghostwhite;
}

.logo_container {
    overflow: hidden;
    width: 25%;
    height: 50px;
    float: left;
    /*border: 1px double black;*/
}

.into_logo_container {
    font-size: 20px;
    padding-top: 10px;
    float: left;
}

.logo {
    padding-left: 10px;
    float: left;
}

.text_logo {
    padding-left: 5px;
    float: left;
}

.nav_container {
    width: 25%;
    height: 50px;
    float: right;
}

.into_nav_container {
    height: 30px;
    font-size: 20px;
    padding-top: 10px;
    padding-right: 10px;
    float: right;
    overflow: hidden;
}

/*--------------------------CONTENT--------------------------*/
/*--------------------------INDEX_SIGN_UP_IN_PAGE--------------------------*/

.index_input_content {
    padding-top: 50px;
    height: 550%;
    width: 100%;
    overflow: auto;
    /*border: 1px double black;*/
}

.parent_pages {
    width: 100%;
    height: 890px;
    /*border: 1px double black;*/
}

/*--------------------------PAGE_1_2_3--------------------------*/

.nav_block {
    width: 20%;
    height: 500px;
    margin-top: 20px;
    position: fixed;
    /*border: 1px double black;*/
}

.pages {
    width: 100%;
    height: 35px;
    overflow: hidden;
    /*border: 1px double black;*/
}

pages_other {
    idth: 100%;
    height: 45px;
    overflow: hidden;
    /*border: 1px double black;*/
}

.page_not_active {
    padding-top: 10px;
    /*padding-left: 5px;*/
    text-align: center;
    float: top;
    /*border: 1px double black;*/
}

.page_active {
    padding-top: 10px;
    /*padding-left: 5px;*/
    float: top;
    text-align: center;
    background: #ffffff;
    /*border: 1px double black;*/
}

/*--------------------------PAGE_1--------------------------*/

.page_1_content {
    padding-top: 50px;
    height: 160%;
    width: 100%;
    overflow: auto;
    /*border: 1px double black;*/
}

/*--------------------------SIGN_UP_IN--------------------------*/

.heading {
    text-align: center;
}

/*--------------------------ABOUT_US--------------------------*/

.about_us {
    padding-top: 50px;
}

/*--------------------------ALL_PAGES--------------------------*/

.left_content {
    padding: 0;
    width: 20%;
    height: 100%;
    overflow: hidden;
    float: left;
    background: #dcdcdc;
}

.right_content {
    padding: 0;
    width: 20%;
    height: 100%;
    overflow: hidden;
    float: left;
    background: #dcdcdc;
}

.main_content {
    padding: 0;
    width: 60%;
    height: 100%;
    float: left;
    background: whitesmoke;
}

.into_main_content {
    text-align: justify;
    padding: 10px 10% 10px 10%;
    /*border: 1px double black;*/
}

/*--------------------------TAGS--------------------------*/

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,
    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 100;
    font-size: 20px;
    /*line-height: 1.5;*/
    color: #212529;
}

a {
    color: #212529;
    text-decoration: none;
}

a.sections:hover {
    text-decoration: underline;
}

a.sign_in {
    text-decoration: underline;
}

a.sign_up {
    text-decoration: none;
}

div.indent {
    text-indent: 50px;
}

hr {
    width: 100%;
    height: 3px;
    border-width:0;
    background: #dcdcdc;
}
